@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
} 
.div{
  display: block;
}
*{
  box-sizing: border-box;
  margin: 0;
}
/* Container holding the image and the text */
.container {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
  }

  
  /* Bottom right text */
  .text-block {
    bottom: 20px;
    right: 20px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
.footer{
  display: block;
  padding-top: 34px;
  padding-bottom: 34px;
}
.row_fotter{
  margin-left:-16px ;
  margin-right: -16px;
}