@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
} 
.div{
  display: block;
}
*{
  box-sizing: border-box;
  margin: 0;
}
/* Container holding the image and the text */
.container {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
  }

  
  /* Bottom right text */
  .text-block {
    bottom: 20px;
    right: 20px;
    background-color: black;
    opacity: 0.5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
.footer{
  display: block;
  padding-top: 34px;
  padding-bottom: 34px;
}
.row_fotter{
  margin-left:-16px ;
  margin-right: -16px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}